---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Variables
$blue: #7195b0;
$purple: #c03c6f;
$orange: #f8812f;
$white: #ffffff;
$gray: #888888;
$bluegray: #607d8b;

$max-content-width: 60rem;
$soft-shadow: 0 0 20px #000;

// Global stuff
a {
	color: $orange;
	text-decoration: none;

	&:hover {
		color: $purple;
	}
}

body {
	background-color: $white;

	margin: 0;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// Header
body > header {
	background-color: $blue;
	background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 31.25rem;

	display: flex;
	align-items: center;
	justify-content: center;

	h1 {
		font-family: "Corporate HQ", serif;
		color: $white;
		text-transform: uppercase;
		font-size: 6rem;
		line-height: 61px;
		font-weight: normal;
		text-shadow: $soft-shadow;
		text-align: center;

		&::before {
			background-image: url(../img/logo.png);
			width: 56px;
			height: 61px;

			content: "";
			display: inline-block;
			margin-right: 1rem;
			box-shadow: $soft-shadow;
		}
	}
}

// Top navigation
#topnav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	background-color: rgba(0, 0, 0, 0.25);

	ul {
		color: $white;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	& > ul {
		max-width: $max-content-width;

		margin: 0 auto;

		display: flex;
		justify-content: flex-end;
		align-items: stretch;

		ul {
			display: none;
			position: absolute;
			background-color: rgba(0, 0, 0, 0.25);
		}

		li:hover ul {
			display: block;
		}

		a, span {
			position: relative;

			color: $white;
			text-decoration: none;

			display: flex;
			align-items: center;
			height: 3em;
			padding: 0 1em;

			&:hover {
				background-color: rgba(255, 255, 255, 0.25);
			}

			img {
				height: 2em;
			}
		}
	}
}

// Games nav
#gamesnav {
	$height: 12.5rem;
	max-width: $max-content-width;
	margin: $height * -0.5 auto;

	ul {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		padding: 0;
		margin: 0;
		list-style: none;

		li {
			display: inline-block;
			height: $height;
			width: $height * 2;
			border: 0.5rem solid $white;
			box-shadow: $soft-shadow;
			background-position: center;
			background-size: cover;

			margin: 0 2rem 2rem 2rem;

			a {
				display: block;
				width: 100%;
				height: 100%;

				color: transparent;
				font-size: 0;
			}

			img {
				width: 100%;
				height: 100%;
			}
		}

		li:nth-child(n + 3) {
			height: 7.5rem;
			width: 15rem;

			order: 2;
		}
	}
}

// Games nav
#screenshots {
	$height: 12.5rem;
	max-width: $max-content-width;
	margin: $height * -1.5 auto;

	ul {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		padding: 0;
		margin: 0;
		list-style: none;

		li {
			display: inline-block;
			height: $height;
			width: $height * 1.77;
			border: 0.5rem solid $white;
			box-shadow: $soft-shadow;
			background-position: center;
			background-size: cover;

			margin: 0 2rem 2rem 2rem;

			a {
				display: block;
				width: 100%;
				height: 100%;

				color: transparent;
				font-size: 0;
			}

			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

// Main content
main {
	max-width: $max-content-width;
	margin: 2rem auto 0 auto;

	#gamesnav + & {
		margin-top: 10rem;
	}
	#gamecontent {
		margin-top: 20rem;
	}
	
	h1,
	h1 a,
	h1 a:hover,
	h2,
	h2 a,
	h2 a:hover
	.post--subtitle,
	.post--subtitle a,
	.post--subtitle a:hover {
		color: $bluegray;
		font-family: "Ubuntu Condensed", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: normal;
	}
}

#openingquote {
	color: $gray;
	font-style: italic;
	text-align: center;

	font-size: 1.5em;

	&::before {
		content: open-quote;
	}

	&::after {
		content: close-quote;
	}
}

// About us section
#aboutus {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	section {
		margin: 2.5rem;
		width: calc(50% - 5rem);
		display: flex;
		flex-basis: 20em;
		flex-grow: 1;
		flex-direction: column;
		margin-top: 2.5rem;

		img {
			width: 10rem;
			height: 10rem;
			display: inline-block;
			border-radius: 5rem;
			align-self: center;

			order: -1;
		}

		h2 {
			align-self: center;
			margin: 0.5rem 0 0.5rem 0;
		}

		p {
			text-align: justify;
		}
	}
}

.post:not(:last-child) {
	margin-bottom: 2em;
}

.post header {
	color: $bluegray;
	margin-bottom: 1em;
	line-height: 2rem;

	h1 {
		font-size: 2em;
		margin: 0;
	}

	.post--subtitle {
		display: block;
		font-size: 1.33em;
	}
}

.post header,
.post--content, {
	margin-left: 10rem;
}

.post--content *:first-child {
	margin-top: 0;
}

.post--content *:last-child {
	margin-bottom: 0;
}

.post aside {
	float: left;
	display: flex;
	flex-direction: column;
	
	img {
		width: 8rem;
		height: 8rem;
		display: inline-block;
		border-radius: 4rem;
	}
}

.post footer {
	text-align: right;
}

.post--author::after {
	content: ",";
}

.post--author,
.post--date {
	font-size: 0.75em;
}

// Footer
#footer {
	margin: 2rem auto;
	max-width: $max-content-width;

	text-align: center;
	color: $gray;
	font-size: 0.75em;
}

@media screen and (max-width: 960px) {
	body > header {
		background-image: url(../img/header_960.jpg);
	}

	#gamesnav ul {
		flex-direction: column;
		align-items: center;
	}
}


@media screen and (max-width: 480px) {
	body > header {
		height: 18rem;
		align-items: flex-start;

		h1 {
			font-size: 5rem;
			margin-top: 4.5rem;

			&::before {
				display: none;
			}
		}
	}

	#topnav {
		li.social-media {
			display: none;
		}
	}

	#gamesnav {
		margin-top: -4rem;

		ul li,
		ul li.small {
			height: 7.5rem;
			width: 15rem;
		}
	}

	#aboutus {
		flex-direction: column;

		section {
			width: auto;
		}
	}
}