// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

$header-image:	url("../img/umaiki_full.png");

body {
}

.navbar-umaiki {
	background-color: transparent;
	color: #fff;

	a:link, a:visited, a:active {
		color: inherit;
	}

	a:hover {
		background-color: rgba(255,255,255,0.3) !important;
	}

	a:focus {
		background-color: rgba(255,255,255,0.3) !important;
	}
}

.keyvisual {
	background-image: $header-image;
	background-position: center;
	height: 500px;
	margin-bottom: 0;
	padding-top: 0;
	color: white;
	position: relative;

	&>.container {
		font-family: $font-family-serif;
		font-size: 1.5em;

		span {
			position: absolute;
			bottom: 30px;
		}
	}
}

	.btn-glass {
		color: #fff;
		border: 1px solid rgba(255,255,255,0.5);
		border-radius: 0;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100&0.28+0,0.6+50,0.47+51,0.2+100 */
		background: -moz-linear-gradient(top, rgba(246,248,249,0.28) 0%, rgba(229,235,238,0.6) 50%, rgba(215,222,227,0.47) 51%, rgba(245,247,249,0.2) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,0.28)), color-stop(50%,rgba(229,235,238,0.6)), color-stop(51%,rgba(215,222,227,0.47)), color-stop(100%,rgba(245,247,249,0.2))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(246,248,249,0.28) 0%,rgba(229,235,238,0.6) 50%,rgba(215,222,227,0.47) 51%,rgba(245,247,249,0.2) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(246,248,249,0.28) 0%,rgba(229,235,238,0.6) 50%,rgba(215,222,227,0.47) 51%,rgba(245,247,249,0.2) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(246,248,249,0.28) 0%,rgba(229,235,238,0.6) 50%,rgba(215,222,227,0.47) 51%,rgba(245,247,249,0.2) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(246,248,249,0.28) 0%,rgba(229,235,238,0.6) 50%,rgba(215,222,227,0.47) 51%,rgba(245,247,249,0.2) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47f6f8f9', endColorstr='#33f5f7f9',GradientType=0 ); /* IE6-9 */
	}

.mod-umaiki {
	line-height: 40px;
	color: #fff;
	background-image: url('../img/seperator.png');
	background-position: center;
	background-repeat: repeat-x;
	height: 118px;
	font-family: $font-family-serif;
	font-size: 2.3em;
	padding: 57px 0;
	text-align: justify;
	position: relative;
	z-index: 100;
	text-align: justify;
	box-shadow: 0 5px 15px rgba(0,0,0,0.7);

	.container {
		transform: translateY(-50%);
	}
}

.mod-games {
	background-image: url('../img/tile.jpg');
	overflow: hidden;

	.row {
		margin: 0;
	}
}

.mod-game {
	padding: 0;
	padding-top: 10px;
	height: 350px;
	background-size: cover;
	background-position: center center;
	position: relative;
	text-shadow: 0 1px 0 #000;
	background-position: center center;
	background-size: 120%;
	transition: all 0.2s;

	p {
		padding: 25px 10px;
		opacity: 0.6;
		position: absolute;
		bottom: 0;
		transition: all 0.2s;
	}

	&:hover {
		background-size: 100%;

		p {
			opacity: 1;
			bottom: 25px;
		}
	}
}

.game-logo {
	display: block;
	margin: 0 auto;
	width: 70%;
	margin-top: 20px;
}

.mod-zirkonia {
	background-color: #333;
	color: #fff;
	background-image: url("../img/splash_zirkonia.png");
	box-shadow: -5px 0 10px rgba(0,0,0,0.8);
}

.mod-buntoki {
	background-color: #8f563b;
	color: #ffd29a;
	background-image: url("../img/splash_buntoki.png");
	box-shadow: 5px 0 10px rgba(0,0,0,0.8);
}

.mod-info {
	h1, h2 {
		text-align: center;
	}
}

.img-splash {
	width: 100%;
}

.img-team {
	width: 80%;
}

.footer-main {
	background-color: $gray-darker;
	padding-top: 50px;
}

.footer-links {
	list-style: none;
	padding-left: 0;
}

/* TYPO */

@import url(http://fonts.googleapis.com/css?family=Alegreya:700|Roboto:400,700|Roboto+Condensed);