// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

$header-image:	url("../img/umaiki_full.png");

body {
	padding-top: 50px;
}

.jumbotron {
	background-image: $header-image;
	background-position: center;
	height: 500px;
}

//.mod-game:nth-of-type

.mod-info {
	h1, h2 {
		text-align: center;
	}
}

.img-team {
	width: 80%;
}

.footer-main {
	background-color: $gray-darker;
	padding-top: 50px;
}

.footer-links {
	list-style: none;
	padding-left: 0;
}