// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

$header-image:	url("../img/umaiki_full.png");

body {
	padding-top: 50px;
}

.jumbotron {
	background-image: $header-image;
	background-position: center;
	height: 500px;
	margin-bottom: 0;
}

.mod-zirkonia {
	background-color: #333;
	color: #fff;
	text-shadow: 0 -1px 0 #000;
}

.mod-buntoki {
	background-color: #8f563b;
	color: #ffd29a;
}

.mod-info {
	h1, h2 {
		text-align: center;
	}
}

.img-splash {
	width: 100%;
}

.img-team {
	width: 80%;
}

.footer-main {
	background-color: $gray-darker;
	padding-top: 50px;
}

.footer-links {
	list-style: none;
	padding-left: 0;
}
