/*
Error: File to import not found or unreadable: bootstrap-compass.
       Load path: C:/Users/Sebastian/Workspace/umaiki_bootstrap-sass/sass
        on line 2 of ./sass/styles.scss

1: // Import Bootstrap Compass integration
2: @import "bootstrap-compass";
3: 
4: // Import custom Bootstrap variables
5: @import "bootstrap-variables";
6: 
7: // Import Bootstrap for Sass

Backtrace:
./sass/styles.scss:2
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/import_node.rb:66:in `rescue in import'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/import_node.rb:45:in `import'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/import_node.rb:28:in `imported_file'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/import_node.rb:37:in `css_import?'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:293:in `watch'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin.rb:108:in `method_missing'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:381:in `watch_or_update'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/exec/base.rb:52:in `parse'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/exec/base.rb:19:in `parse!'
C:/Users/Sebastian/appdata/local/scoop/apps/ruby/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.13/bin/sass:13:in `<top (required)>'
C:/Users/Sebastian/AppData/Local/scoop/apps/ruby/2.0.0-p451/bin/sass:23:in `load'
C:/Users/Sebastian/AppData/Local/scoop/apps/ruby/2.0.0-p451/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: bootstrap-compass.\A        Load path: C:/Users/Sebastian/Workspace/umaiki_bootstrap-sass/sass\A         on line 2 of ./sass/styles.scss\A \A 1: // Import Bootstrap Compass integration\A 2: @import \"bootstrap-compass\";\A 3: \A 4: // Import custom Bootstrap variables\A 5: @import \"bootstrap-variables\";\A 6: \A 7: // Import Bootstrap for Sass"; }
