<nav id="topnav">
	<ul>
		<li><a href="{{ site.url }}">Home</a></li>
		<li><a href="http://umaikigames.tumblr.com/">Blog</a></li>
		<li>
			<span>Games</span>
			<ul>
				{% assign games = site.games | sort: 'order' %}
				{% for game in games %}
				<li><a href="{{ game.url }}">{{ game.name }}</a></li>
				{% endfor %}
			</ul>
		</li>
		<li class="social-media">
			<a href="https://twitter.com/umaikigames">
				<img src="{{ "/img/twitter.svg" | prepend: site.baseurl }}" alt="Twitter">
			</a>
		</li>
		<li class="social-media">
			<a href="https://www.youtube.com/user/UmaikiGames">
				<img src="{{ "/img/youtube.svg" | prepend: site.baseurl }}" alt="Youtube">
			</a>
		</li>
		<li class="social-media">
			<a href="https://www.facebook.com/UmaikiGames">
				<img src="{{ "/img/facebook.svg" | prepend: site.baseurl }}" alt="Facebook">
			</a>
		</li>
	</ul>
</nav>